body {
  font-family: "Courier new";
  color: white;
  text-align: center;
  background-color: #505359;
}
h1 {
  color:#f22121;
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
  list-style-type: square;
  list-style-position: inside;
}
a {
  color: white;
}
img {
  border-style: solid;
}
.btn-twitter {
background: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background: #b62f26;
border-color: #b62f26;
}
