body {
  font-family: "Courier new";
  color: white;
  text-align: center;
  background-color: #242628;
}
h1 {
  color:#f22121;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 25px;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  font-size: 20px;
}
a:link {
  color: white;
}
a.return_home{
  font-size: 25px;
}
a:visited {
  color: #f22121;
}
a:hover {
  color:#f22121;
}
img {
  border-style: solid;
  border-width:5px;
  border-color:white;
}
.btn-twitter {
background: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background: #b62f26;
border-color: #b62f26;
}
label {
  font-size: 20px;
}
#email_submit {
  font-size:20px;
}
