body {
  font-family: "Courier new";
  color: white;
  text-align: center;
  background-color: #505359;
}
h1 {
  color:#f22121;
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
  list-style-type: square;
  list-style-position: inside;
}
a {
  color: white;
}
img {
  border-style: solid;  
}
